In [1]:
import pandas as pd,numpy as np

In [2]:
adat=pd.read_csv("Attribute+Dataset.csv")
adat.head(100)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,891103323,Casual,Average,0.0,M,Spring,o-neck,sleevless,silk,NaN,NaN,print,0
96,1166855026,Casual,Average,0.0,free,Winter,v-neck,full,NaN,chiffon,ruffles,print,0
97,1023850025,vintage,Low,4.8,S,Summer,o-neck,short,NaN,chiffon,ruffles,print,0
98,805438829,Sexy,Low,4.8,L,Summer,v-neck,full,cotton,jersey,applique,print,1
99,836788720,fashion,Average,4.0,free,Summer,open,full,cotton,NaN,sequined,solid,0

In [3]:
adat.Price.describe()

count         477
unique          5
top       Average
freq          240
Name: Price, dtype: object

In [4]:
dat=pd.read_csv("Dress+Sales.csv")
dat.head(5)

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,10-02-2013,10-04-2013,10-06-2013,10-08-2013,10-10-2013,10-12-2013
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1.212192e+09,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1.190381e+09,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736

In [5]:
adat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB

In [6]:
adat.NeckLine.describe()

count        476
unique        16
top       o-neck
freq         257
Name: NeckLine, dtype: object

In [7]:
adat.Size.describe()

count     479
unique      7
top         M
freq      171
Name: Size, dtype: object

In [8]:
(adat.groupby('Size').size()/adat['Size'].count())*100

Size
L        19.415449
M        35.699374
S         7.098121
XL        2.922756
free     34.446764
s         0.208768
small     0.208768
dtype: float64

In [9]:
ban=pd.read_csv("Attribute+Dataset.csv")
ban.head(100)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,891103323,Casual,Average,0.0,M,Spring,o-neck,sleevless,silk,NaN,NaN,print,0
96,1166855026,Casual,Average,0.0,free,Winter,v-neck,full,NaN,chiffon,ruffles,print,0
97,1023850025,vintage,Low,4.8,S,Summer,o-neck,short,NaN,chiffon,ruffles,print,0
98,805438829,Sexy,Low,4.8,L,Summer,v-neck,full,cotton,jersey,applique,print,1
99,836788720,fashion,Average,4.0,free,Summer,open,full,cotton,NaN,sequined,solid,0